@import url('https://fonts.googleapis.com/css?family=Oswald:500,700|Ubuntu');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{

}

/*************************
/* NAVIGATION STARTS HERE 
*******/
header{
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 999;
    height: 30px;
}

header h1{
    color: #FFDA53;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding-top: .2em;
    font-family: 'Oswald', 'Ubuntu';
    font-weight: 500;
    letter-spacing: .2em;
    
}


.menu-toggle {
    display: inline-block;
    padding: .5em 15px;
    line-height: 1em;
    font-size: 1em;
    color: white ;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
  }

  .menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

.main-menu {
    position: absolute;
   right: -300px;
    top: 0;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: visible;
    transition: left 0.3s ease,
                box-shadow 0.3s ease;
    z-index: 999;
  
    
  }


  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 300px;
    background: #1E2125;
  }

  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: .8em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    text-align: right;
  }


.main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #FFDA53;
    text-decoration: underline;
    color: #1E2125;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }

.main-menu:target{
   right: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  
}
 
.main-menu:target .menu-close {
    z-index: 1001;
}


.main-menu:target ul {
    z-index: 1000;
    position: relative;
}

.main-menu:target + .backdrop{
    position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.7);
  cursor: default;
}

@supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed;
    }
  }



/*********************************
/* LANDING CONTENT STARTS HERE 
******/



.landing-wrapper{
    background:  linear-gradient(to right, #1E2125 0%,#1E2125 50%,#1E2125 50%, #FFDA53 50%, #FFDA53 100%);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    border: 6px solid red;

}

.landing{
    padding: 0;
    margin: 0;
    z-index: 997;
   

}

.landing-photo{ 
height: 300px;

}

.landing-content{
  
    position: relative;
    bottom: 450px;
    z-index: 998;
    
}


.landing-content h4, .landing-content p{
    
    font-family: 'Oswald', 'Ubuntu';
    color: white;
    text-align: center;
    z-index: 998;
  
}


.landing-content h4{
  /*
  color: transparent;
-webkit-text-stroke: 1px white;
  */
    font-size: 2rem;
   
   letter-spacing: .5rem;
   text-transform: uppercase;
   position: relative;
   top: 15rem;
   right: 10px;
   background-color:#1E2125;
   
}

.landing-content p{
  position: relative;
  top: 30rem;

}

    


main{
    background-color: #1E2125;
    height: 100vh;
    width: 100%;
    
}

.grid img{
   max-width: 100%;
  
}

.grid-container{
    display: grid;
   grid-gap: 0;
   margin: 0;
   padding: 0;


}

.grid{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    align-content: space-between;
    justify-content: space-around;
}
   
